<?xml version="1.0"?>
<settings>
  <servers>
    <server>
      <id>Exchange2</id>
      <username>ANYPOINT_USERNAME</username>
      <password>ANYPOINT_PASSWORD</password>
    </server>
    <server>
      <id>anypoint-exchange-v3</id>
      <username>ANYPOINT_USERNAME</username>
      <password>ANYPOINT_PASSWORD</password>
    </server>
    <server>
      <id>MuleRepository</id>
      <username>CUSTOMER_EE_REPO_USERNAME</username>
      <password>CUSTOMER_EE_REPO_PASSWORD</password>
    </server>
  </servers>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <profiles>
    <profile>
      <id>mule-extra-repos</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>mule-public</id>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>mule-public</id>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>Mule</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>

      <repositories>
        <repository>
          <id>MuleRepository</id>
          <name>MuleRepository</name>
          <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>

        <repository>
          <id>MuleRepositoryPublic</id>
          <name>MuleRepositoryPublic</name>
          <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>

    </profile>
  </profiles>
</settings>